/* PALETA */
/* TIPOGRAFIA */
/* BODY */
body div.bg {
  background-repeat: no-repeat;
  background-size: cover; }

/* NAV */
body header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 1.5rem; }
  body header.fix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #33DDFF;
    z-index: 999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body header.fix a, body header.fix p {
      color: #005877 !important; }
    body header.fix .vSeparator {
      border-left-color: #005877 !important; }
    body header.fix .display-img {
      display: inline-block !important; }
    body header.fix .display-img-2 {
      display: none !important; }
  body header nav {
    padding-top: 0.8rem; }
    body header nav ul li.nav-item {
      padding: 0 0.5rem; }
      body header nav ul li.nav-item .vSeparator {
        border-left: 3px solid #FFFFFF;
        width: 1px;
        height: 3.3rem; }
      body header nav ul li.nav-item a {
        padding-top: 1rem;
        font-size: 1.2rem;
        color: #FFFFFF;
        transition: 300ms all ease; }
        body header nav ul li.nav-item a.nav-link:hover {
          border-bottom: 0.1rem solid #3B3B3B !important; }
      body header nav ul li.nav-item a.fbMo {
        display: none; }
      body header nav ul li.nav-item div.col-sm-12 .display-img {
        display: none; }
      body header nav ul li.nav-item div.col-sm-12 img {
        width: 0.9rem;
        display: inline-block; }
      body header nav ul li.nav-item div.col-sm-12 a img {
        width: 0.9rem;
        display: inline-block; }
      body header nav ul li.nav-item div.col-sm-12 p, body header nav ul li.nav-item div.col-sm-12 a {
        font-size: 0.9rem;
        color: #FFFFFF;
        margin-left: 0.9rem;
        margin-bottom: 0.6rem;
        display: inline-block; }
      body header nav ul li.nav-item div.col-sm-12 .especial-a {
        margin-left: 0rem !important;
        padding-top: 0rem !important; }

/* FRONTPAGE */
body div#cont.content {
  padding-top: 6.85rem; }
body div#cont div.container div.row div.col-sm-7 div.col-sm-12.attention {
  margin-top: 1.5rem; }
body div#cont div.container div.row div.col-sm-7 div.col-sm-12 p {
  font-size: 1.5rem;
  color: #f6f6f6;
  text-shadow: 2px 2px #3B3B3B;
  margin: auto;
  font-weight: 500; }
  body div#cont div.container div.row div.col-sm-7 div.col-sm-12 p.color {
    color: #F5E9BE; }
body div#cont div.container div.row div.col-sm-5 img.logoR {
  max-width: 100%;
  width: 18rem;
  display: block;
  margin: auto;
  margin-top: -5rem; }

/*LATIN FOOD */
body div.container div.row.latin {
  /*margin-top: -6vh */ }
  body div.container div.row.latin a img.circle {
    display: block;
    /*margin: -3.60vh 35vw */
    width: 10vw; }
  body div.container div.row.latin div.col-sm-12 img {
    display: block;
    max-width: 100%;
    margin: auto; }
  body div.container div.row.latin div.col-sm-12 p {
    font-size: 1.4rem;
    color: #3B3B3B;
    text-align: center; }

/* MENU */
body div#menu h1 {
  text-align: center;
  padding-bottom: 0.5rem; }
body div#menu div.center {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  body div#menu div.center button.push {
    margin-left: 1rem; }
body div#menu div.container h2 {
  margin-bottom: 2rem; }
  body div#menu div.container h2.noBf {
    margin-top: 4rem; }
body div#menu div.container div.row {
  margin-top: 1.5rem; }
  body div#menu div.container div.row div.col-sm-12 p.tresg {
    background-color: #F5E9BE;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding-top: 2px; }

/* FOOTER */
body footer {
  margin-top: 1rem;
  padding-top: 1rem; }
  body footer .rrss {
    margin-bottom: 0.1rem; }
    body footer .rrss ul li a {
      padding: 0rem 0.5rem;
      transition: 300ms all ease; }
      body footer .rrss ul li a:hover {
        opacity: 0.5; }
      body footer .rrss ul li a img {
        max-width: 1rem; }
  body footer .copy p {
    text-align: center;
    font-weight: 200;
    margin-bottom: 0.1rem; }
  body footer .copy .right {
    font-size: 1rem; }
  body footer .copy .author {
    font-size: 0.85rem; }

/*RESPONSIVE (MOBILE) */
@media screen and (max-width: 62rem) {
  div.container div.row div.col-sm-5 img.logoR {
    margin-top: 0rem !important; } }
@media screen and (max-width: 62rem) {
  div#cont.content {
    padding-top: 5.5rem !important; } }
@media screen and (max-width: 62rem) {
  body div.bg header div.container div.row ul li.hid {
    display: none; }
  body div.bg header div.container div.row ul li a.fbMo {
    display: inline-block; }
    body div.bg header div.container div.row ul li a.fbMo img {
      width: 1.5rem;
      display: inline-block;
      margin-left: 1.5rem;
      background-color: #3B3B3B;
      padding: 0.3rem;
      border-radius: 5px; } }
@media screen and (max-width: 22.8rem) {
  div.center button.marg {
    margin-top: 1rem; }
  div.center button#lnkFam {
    margin-right: 0.3rem; } }
@media screen and (max-width: 30.31rem) {
  div.center button#lnkDrinks {
    margin-top: 1rem; } }
@media screen and (max-width: 62rem) {
  .hid {
    display: none; } }

/*# sourceMappingURL=brian.css.map */
