/* PALETA */
/* TIPOGRAFIA */
/* BODY */
body div.bg {
  background-repeat: no-repeat;
  background-size: cover; }

/* NAV */
body header {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 1.5rem; }
  body header.fix {
    position: fixed;
    top: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #33DDFF;
    z-index: 999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  body header nav {
    padding-top: 0.8rem; }
    body header nav ul li.nav-item {
      padding: 0 0.5rem; }
      body header nav ul li.nav-item .vSeparator {
        border-left: 3px solid #FFFFFF;
        width: 1px;
        height: 3.3rem; }
      body header nav ul li.nav-item a {
        padding-top: 1rem;
        font-size: 1.2rem;
        color: #FFFFFF;
        transition: 300ms all ease; }
        body header nav ul li.nav-item a:hover {
          border-bottom: 0.1rem solid #3B3B3B !important; }
      body header nav ul li.nav-item div.col-sm-12 img {
        width: 0.9rem;
        display: inline-block; }
      body header nav ul li.nav-item div.col-sm-12 p {
        font-size: 0.7rem;
        color: #FFFFFF;
        margin-left: 0.7rem;
        margin-bottom: 0.6rem;
        display: inline-block; }

/* FRONTPAGE */
body div#cont.content {
  padding-top: 6.28rem; }
body div#cont div.container div.row div.col-sm-7 div.col-sm-12.attention {
  margin-top: 1.5rem; }
body div#cont div.container div.row div.col-sm-7 div.col-sm-12 p {
  font-size: 1.5rem;
  color: #f6f6f6;
  text-shadow: 2px 2px #3B3B3B;
  margin: auto;
  font-weight: 500; }
  body div#cont div.container div.row div.col-sm-7 div.col-sm-12 p.color {
    color: #F5E9BE; }
body div#cont div.container div.row div.col-sm-5 img.logoR {
  max-width: 100%;
  width: 18rem;
  display: block;
  margin: auto;
  margin-top: -5rem; }

/*LATIN FOOD */
body div.container div.row.latin {
  /*margin-top: -6vh */ }
  body div.container div.row.latin a img.circle {
    display: block;
    /*margin: -3.60vh 35vw */
    width: 10vw; }
  body div.container div.row.latin div.col-sm-12 img {
    display: block;
    max-width: 100%;
    margin: auto; }
  body div.container div.row.latin div.col-sm-12 p {
    font-size: 1.4rem;
    color: #3B3B3B;
    text-align: center; }

/* MENU */
body div#menu h1 {
  text-align: center;
  padding-bottom: 0.5rem; }
body div#menu div.center {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  body div#menu div.center button.push {
    margin-left: 1rem; }
body div#menu div.container h2 {
  margin-bottom: 2rem; }
  body div#menu div.container h2.noBf {
    margin-top: 4rem; }
body div#menu div.container div.row {
  margin-top: 1.5rem; }
  body div#menu div.container div.row img {
    width: 21rem; }

/* FOOTER */
body footer {
  margin-top: 1rem;
  padding-top: 1rem; }
  body footer .rrss {
    margin-bottom: 0.1rem; }
    body footer .rrss ul li a {
      padding: 0rem 0.5rem;
      transition: 300ms all ease; }
      body footer .rrss ul li a:hover {
        opacity: 0.5; }
      body footer .rrss ul li a img {
        max-width: 1rem; }
  body footer .copy p {
    text-align: center;
    font-weight: 200;
    margin-bottom: 0.1rem; }
  body footer .copy .right {
    font-size: 1rem; }
  body footer .copy .author {
    font-size: 0.85rem; }

/*RESPONSIVE (MOBILE) */
@media screen and (max-width: 48rem) {
  div.container div.row div.col-sm-5 img.logoR {
    margin-top: 0rem !important; }

  nav {
    display: none; }

  body div.container div.row.latin a img.circle {
    display: none; } }

/*# sourceMappingURL=brian.css.map */
