$negro-fuerte: #000000
$negro-mate: #3B3B3B
$blanco-fuerte: #FFFFFF
$blanco-suave: #EDEEF6

/* PALETA */
$color1: #33DDFF
$color2: #0087A2
$color3: #005877
$color4: #F5E9BE

/* TIPOGRAFIA */
$tam-menu: 1.2rem
$tam-contact: .7rem
$tam-attention: 1.5rem
$tam-footer-principal: 1rem
$tam-footer-secundario: 0.85rem
$tamlogo: 18rem
$tam-icon: .9rem

$centerV: 1.5rem

/* BODY */
body
	div.bg
		background-repeat: no-repeat
		background-size: cover


/* NAV */

body
	header
		-webkit-transition: all 0.5s ease
		-moz-transition: all 0.5s ease
		-o-transition: all 0.5s ease
		transition: all 0.5s ease
		margin-bottom: 1.5rem
		&.fix
			position: fixed
			top: 0
			width: 100%
			color: $blanco-fuerte
			background-color: $color1
			z-index: 999
			-webkit-transition: all 0.5s ease
			-moz-transition: all 0.5s ease
			-o-transition: all 0.5s ease
			transition: all 0.5s ease
		nav
			padding-top: .8rem
			ul
				li.nav-item
					padding: 0 .5rem
					.vSeparator
						border-left: 3px solid $blanco-fuerte
						width: 1px
						height: 3.3rem
					a
						padding-top: 1rem
						font-size: $tam-menu
						color: $blanco-fuerte
						transition: 300ms all ease
						&.nav-link:hover
							border-bottom: 0.1rem solid $negro-mate !important
					a.fbMo
						display: none
					div.col-sm-12
						img
								width: $tam-icon
								display: inline-block
						a
							img
								width: $tam-icon
								display: inline-block
						p, a
							font-size: $tam-contact
							color: $blanco-fuerte
							margin-left: 0.7rem
							margin-bottom: .6rem
							display: inline-block

/* FRONTPAGE*/
body
	div#cont
		&.content
			padding-top: 6.85rem
		div.container
			div.row
				div.col-sm-7
					div.col-sm-12
						&.attention
							margin-top: $centerV
						p
							font-size: $tam-attention
							color: #f6f6f6
							text-shadow: 2px 2px $negro-mate
							margin: auto
							font-weight: 500
							&.color
								color: $color4
				div.col-sm-5
					img.logoR
						max-width: 100%
						width: $tamlogo
						display: block
						margin: auto
						margin-top: -5rem
				

/*LATIN FOOD*/
body
	div.container
		div.row.latin
			/*margin-top: -6vh*/
			a
				img.circle
					display: block
					/*margin: -3.60vh 35vw*/
					width: 10vw
			div.col-sm-12
				img
					display: block
					max-width: 100%
					margin: auto
				p
					font-size: 1.4rem
					color: $negro-mate
					text-align: center

/* MENU */
body
	div#menu
		h1
			text-align: center
			padding-bottom: .5rem
		div.center
			width: 100%
			margin: 0 auto
			text-align: center
			button
				&.push
					margin-left: 1rem
		div.container
			h2
				margin-bottom: 2rem
				&.noBf
					margin-top: 4rem
			div.row
				margin-top: 1.5rem
				div.col-sm-12
					p.tresg
						background-color: $color4
						font-size: 1.2rem
						width: 100%
						text-align: center
						border-radius: 5px
						padding-top: 2px

/* FOOTER */

body
	footer
		margin-top: 1rem
		padding-top: 1rem
		.rrss
			margin-bottom: 0.1rem
			ul
				li
					a
						padding: 0rem 0.5rem
						transition: 300ms all ease
						&:hover
							opacity: 0.5
						img
							max-width: 1rem
		.copy
			p
				text-align: center
				font-weight: 200
				margin-bottom: 0.1rem
			.right
				font-size: $tam-footer-principal
			.author
				font-size: $tam-footer-secundario


/*RESPONSIVE (MOBILE)*/
@media screen and (max-width: 62rem)
	div.container
		div.row
			div.col-sm-5
				img.logoR
					margin-top: 0rem !important

@media screen and (max-width: 62rem)
	div#cont
		&.content
			padding-top: 5.5rem !important

@media screen and (max-width: 62rem)
	body
		div.bg
			header
				div.container
					div.row
						ul
							li.hid
								display: none
							li
								a.fbMo
									display: inline-block
									img
										width: 1.5rem
										display: inline-block
										margin-left: 1.5rem
										background-color: $negro-mate
										padding: 0.3rem
										border-radius: 5px

@media screen and (max-width: 22.80rem)
	div.center
		button.marg
			margin-top: 1rem
		button#lnkFam
			margin-right: 0.3rem

@media screen and (max-width: 30.31rem)
	div.center
		button#lnkDrinks
			margin-top: 1rem

@media screen and (max-width: 62rem)
	.hid
		display: none

